name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Update npm
      run: npm install -g npm@latest

    - name: Install dependencies
      run: npm ci

    - name: Install Firebase CLI
      run: npm install -g firebase-tools

    - name: Setup Google Cloud Credentials
      run: echo "Setting up credentials"
      env:
        FIREBASE_SERVICE_ACCOUNT_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}
      run: |
        echo "$FIREBASE_SERVICE_ACCOUNT_KEY" > ./firebase-key.json
        echo "GOOGLE_APPLICATION_CREDENTIALS=firebase-key.json" >> $GITHUB_ENV

    - name: Deploy
      run: |
        npm run build
        firebase use erp-ps-v2
        firebase deploy --only hosting
      env:
        CI: false
